{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block branding %}
<h1 id="site-name">
<a href="{% url 'admin:index' %}">{% trans 'Quiz(Staff)' %}</a>
</h1>
{% endblock %}
